* {
  font: inherit;
  box-sizing: border-box;
  -oz-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #F2F4EF;
}

/*html {
  font-size: 1em;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}*/

ul {
  padding: 0;
}

li {
  list-style: none;
}

.answer-list input[type="radio"] {
  /*display: none;*/
}

input {
  background-color: green;
}

input[type="radio"], input[type="checkbox"] {
    margin: 10px 0.5ex;
    background-color: green !important;
}


/*#4D9F30 Quire's green*/
