* {
  font: inherit;
  box-sizing: border-box;
  -oz-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body {
  margin: 0;
}

/*html {
  font-size: 1em;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}*/

ul {
  padding: 0;
}

li {
  list-style: none;
}
